@import "ceurart.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

.screen-only {
  display: none;
}


@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Libertinus Sans' !important;
}


// Custom css for the figures in the printed version
.halfwidth {
  width: 50%;
  float: left;
  figcaption {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.right {
  float: right;
}
